#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on init
    # Camera
    ## The two vitamin variants have a different main camera sensor (CN = OV64B and GLO = IMX890).
    ## Our vendor camera blobs read CameraHWConfiguration.config which is variant specific unfortunately.
    ## Instead of making a whole separate target just for the CN variant, let's make use of overlay fs.
    mount overlay overlay /odm/etc lowerdir=/odm/overlay/prj_${ro.boot.prjname}/odm/etc:/odm/etc

    # Charger
    write /proc/fastchg_fw_update 1
    write /proc/ui_soc_decimal 1

on fs
    # Update touchpanel firmware in case we ship newer firmware in /odm
    write /proc/touchpanel/tp_fw_update 0

on boot
    # Display
    chown system system /dev/oplus_display
    chown system system /sys/kernel/oplus_display/dimlayer_bl_en
    chown system system /sys/kernel/oplus_display/dynamic_osc_clock
    chown system system /sys/kernel/oplus_display/notify_fppress
    chown root root /sys/kernel/oplus_display/panel_serial_number

    chmod 0000 /sys/kernel/oplus_display/hbm

on property:ro.boot.prjname=*
    # Display
    setprop ro.separate.soft ${ro.boot.prjname}

    # Radio
    setprop ro.product.hw ${ro.boot.prjname}
